<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>addroute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-item lines="none">
  <h2>Add a route, time intervals and Ride time</h2>
</ion-item>
  <br><br>
  <ion-item>
    <ion-row>
      <ion-col col-6>
        <ion-item lines="none">
          <ion-label position="floating">Destination</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col> </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-label position="floating">Ride Time</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item lines="none">
    <ion-button shape="round" fill="outline">
      ADD ROUTE
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-button shape="round" fill="outline">
      UPDATE ROUTE
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
