<ion-header color="primary">
  <ion-toolbar>
    <ion-icon routerLink="/udash" name="arrow-back-outline"></ion-icon>
    <ion-title name="arrow-back-outline">
      uprofile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="border-left: 7px solid #ff987b;">
  <div class="header">
    <h3>Hallo User</h3>
    <h1>Update Your<br> Profile</h1>
  </div>

  <div class="form">
    <ion-input type="email" readonly placeholder="Email"></ion-input>
    <ion-input type="text" readonly placeholder="Name"></ion-input>
    <ion-input type="text" readonly placeholder="Surname"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
  </div>

  <div class="button signup">
    Update <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>
</ion-content>

