<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>adticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title slot="start">Card Title</ion-card-title> -->
      <ion-row>
        <ion-col col-6>
          <div>Trip Type</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-icon name="body-outline"></ion-icon>
          Adult
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="bus-outline"></ion-icon>
      Route...<br>
      The ticket is valid for: "number" Days <br>
      Expiring date: date
      <ion-row>
        <ion-col col-6>
          <div># of Tickets</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          R123
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <div>Usage:</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-select value="pending" interface="action-sheet">
              <ion-select-option value="pending">Pending</ion-select-option>
              <ion-select-option value="used">Used</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item lines="none">
        <ion-button shape="round" fill="outline">Update</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title slot="start">Card Title</ion-card-title> -->
      <ion-row>
        <ion-col col-6>
          <div>Trip Type</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-icon name="body-outline"></ion-icon>
          Adult
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="bus-outline"></ion-icon>
      Route...<br>
      The ticket is valid for: "number" Days <br>
      Expiring date: date
      <ion-row>
        <ion-col col-6>
          <div># of Tickets</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          R123
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <div>Usage:</div>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
          <ion-item lines="none">
            <ion-select value="pending" interface="action-sheet">
              <ion-select-option value="pending">Pending</ion-select-option>
              <ion-select-option value="used">Used</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item lines="none">
        <ion-button shape="round" fill="outline">Update</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
