<!-- <ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/welcome" name="arrow-back-outline"></ion-icon>
    <ion-title name="arrow-back-outline">
      signup
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="border-left: 7px solid #ff987b;">
  <form  #f="ngForm">
  <div class="header">
    <h3>Happy to see you</h3>
    <h1>Create a<br> New account</h1>
  </div>

  <div class="form">
    <div class="form-input">
        <ion-input type="text"
          #firstname="ngModel"
          type="text"
          minlength="5"
          name="firstname"
          [(ngModel)]="regForm.firstname"
          placeholder="Name"
          required>
        </ion-input>
      <div class="alert alert-danger" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
        <div *ngIf="firstname.errors?.required">Name required</div>
        <div *ngIf="firstname.errors?.minlength">Invalid minLength</div>
      </div>
    </div>
    <div class="form-input">
        <ion-input type="text"
          #lastname="ngModel"
          type="text"
          minlength="5"
          name="lastname"
          [(ngModel)]="regForm.lastname"
          placeholder="Surname"
          required>
        </ion-input>
      <div class="alert alert-danger" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div *ngIf="lastname.errors?.required">Surname required</div>
        <div *ngIf="lastname.errors?.minlength">Invalid minLength</div>
      </div>
    </div>
    <div class="form-input">
        <ion-input type="text"
          #email="ngModel"
          type="text"
          minlength="5"
          name="email"
          pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}"
          [(ngModel)]="regForm.email"
          placeholder="Email"
          required>
        </ion-input>
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.required">Email required</div>
        <div *ngIf="email.errors?.minlength">Invalid minLength</div>
        <div *ngIf="email.errors?.pattern">Invalid email format</div>
      </div>
    </div>
    <div class="form-input">
        <ion-input type="text"
          #password="ngModel"
          type="text"
          minlength="5"
          name="password"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          [(ngModel)]="regForm.password"
          placeholder="Password"
          required>
        </ion-input>
      <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors?.required">Password required</div>
        <div *ngIf="password.errors?.minlength">Invalid minLength</div>
        <div *ngIf="password.errors?.pattern">
          <h3>Password must contain the following:</h3>
          <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
          <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
          <p id="number1" class="invalid">A <b>number</b></p>
          <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
        </div>
      </div>
    </div>
    <div class="form-input">
      <ion-input type="text"
        #conPassword="ngModel"
        type="text"
        minlength="5"
        name="password"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        [(ngModel)]="regForm.conPassword"
        placeholder="Confirm Password"
        required>
      </ion-input>
    <div class="alert alert-danger" *ngIf="conPassword.invalid && (conPassword.dirty || conPassword.touched)">
      <div *ngIf="conPassword.errors?.required">Password required</div>
      <div *ngIf="conPassword.errors?.minlength">Invalid minLength</div>
      <div *ngIf="conPassword.errors?.pattern">
        <h3>Password must contain the following:</h3>
        <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number1" class="invalid">A <b>number</b></p>
        <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
      </div>
    </div>
  </div>
  </div>

  <ion-button (click)="signUp()" expand="block" [disabled]="!f.valid">Sign Up</ion-button>
  <!--<div class="button signup" routerLink="/welcome" >
    Sign Up <ion-icon name="chevron-forward-outline"></ion-icon>
    <ion-button size="small">Small</ion-button>
  </div>-->

  <div class="footer signup-footer">
    <h3 routerLink="/login ">Already have an account? <span>Login</span></h3>
  </div>
  </form>
</ion-content>
