<ion-header>
  <ion-toolbar color="success">
    <ion-title>User-Dash</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
      logout
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="uticket">
        <ion-icon name="ticket"></ion-icon>
        <ion-label>Tickets</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="routes">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Trip Routes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="uaccount">
        <ion-icon name="person"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
