<ion-header>
  <ion-toolbar>
    <ion-title>uprofile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="border-left: 7px solid #ff987b;">
  <div class="header">
    <h3>Hallo User</h3>
    <h1>Update Your<br> Profile</h1>
  </div>

  <form>
  <div class="form">
    <ion-input type="email" readonly placeholder="Email"></ion-input>
    <ion-input type="text" readonly placeholder="Name"></ion-input>
    <ion-input type="text" readonly placeholder="Surname"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
    <ion-input type="password" placeholder="Confirm Password"></ion-input>
  </div>

  <div class="button signup">
    Update <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

</form>
</ion-content>

