<ion-content><br><br><br><br>
  <ion-item routerLink="/uprofile">
    Personal Info
    <ion-buttons slot="end">
      <ion-icon name="person-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
  <ion-item routerLink="/balances">
    Account Balances
    <ion-buttons slot="end">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
  <ion-item>
    Sign Out
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-content>
