<ion-content><br><br><br>
  <ion-card>
    <img src="../../../assets/1.png" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Destination</ion-card-subtitle> -->
      <ion-card-title>Buy Tickets to get Started</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Buy the "Buy Ticket" button below, you can purchase your tickets.
      Tickets are stored here and can be used anytime.
    </ion-card-content>
  </ion-card>

    <ion-button routerLink="/ticket" expand="block">Buy Tickets</ion-button>

</ion-content>
