<ion-content>
  <br>
  <ion-item lines="none">
  <ion-card>
    <ion-icon routerLink="/tickets" style="zoom:4.0" name="arrow-back"></ion-icon>
    <br><br><br><br>

    <ion-card-content>
      <img src="../../../assets/1.png" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Soshanguve-Pretoria-CBD</ion-card-title>
      </ion-card-header>
      <br><br>
      <ion-card-title>Ticket for: 1 Adult</ion-card-title>
      <ion-card-title>Valid for: Return</ion-card-title>
      <ion-card-title>Expires On: 6/18/22</ion-card-title>
      <ion-card-title>Status: Pending</ion-card-title>
      <br>
      <ion-icon color="success" style="zoom:6.0" name="qr-code-outline"></ion-icon>
      <ion-card-subtitle>Thank you for using eTicket!!</ion-card-subtitle>
    </ion-card-content>
    <br><br>
  </ion-card>
</ion-item>
</ion-content>
