<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="log-out-outline"></ion-icon>
      logout
    </ion-buttons>
    <ion-title>Admin Routes</ion-title>
    <ion-buttons slot="end" routerLink="/adticket">
      Tickets
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <h3>All Routes are Centered from Soshanguve</h3>
</ion-item>
  <br /><br /><br />
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Pretoria-CBD(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Pretoria-East(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Pretoria-West(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Pretoria-North(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Mabopane(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6>
          <div>Garankua(30-min intervals)</div>
        </ion-col>
        <ion-col> </ion-col>
        <ion-col>
          <div>6:00-21:00</div>
          <ion-icon routerLink="/addroute" name="pencil-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon color="danger" name="trash-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
          <ion-icon routerLink="/addroute" color="primary" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
