<ion-content>
  <form  #f="ngForm">
  <div class="header">
    <h3>Wecome back</h3>
    <h1>Please Login<br>To Continue</h1>
  </div>

  <div class="form">
    <div class="form-input">
      <ion-input type="text"
        #email="ngModel"
        type="text"
        minlength="5"
        name="email"
        pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}"
        [(ngModel)]="logForm.email"
        placeholder="Email"
        required>
      </ion-input>
    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors?.required">Email required</div>
      <div *ngIf="email.errors?.minlength">Invalid minLength</div>
      <div *ngIf="email.errors?.pattern">Invalid email format</div>
    </div>
  </div>
  <div class="form-input">
    <ion-input type="text"
      #password="ngModel"
      type="text"
      minlength="5"
      name="password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      [(ngModel)]="logForm.password"
      placeholder="Password"
      required>
    </ion-input>
  <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
    <div *ngIf="password.errors?.required">Password required</div>
    <div *ngIf="password.errors?.minlength">Invalid minLength</div>
    <div *ngIf="password.errors?.pattern">
      <h3>Password must contain the following:</h3>
      <p id="letter1" class="invalid">A <b>lowercase</b> letter</p>
      <p id="capital1" class="invalid">A <b>capital (uppercase)</b> letter</p>
      <p id="number1" class="invalid">A <b>number</b></p>
      <p id="length1" class="invalid">Minimum <b>8 characters</b></p>
    </div>
  </div>
</div>
  </div>

  <ion-button expand="block" routerLink="/udash" (click)="this.login()" [disabled]="!f.valid">Login</ion-button>
  <!--<div class="button" [disabled]="!f.valid">
    Login <ion-icon name="chevron-forward-outline" [disabled]="!f.valid"></ion-icon>
  </div>-->

  <div class="footer">
    <h3 routerLink="/signup">Don't have an account? <span>Sign Up</span></h3>
  </div>
</form>
</ion-content>
