<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>balances</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br><br><br>
  <ion-item>
    Balances: R123456
    <ion-buttons slot="end">
      <ion-icon name="wallet"></ion-icon>
    </ion-buttons>
  </ion-item>

  <ion-item>
    Tickets: 1
    <ion-buttons slot="end">
      <ion-icon name="ticket"></ion-icon>
    </ion-buttons>
  </ion-item><br><br><br>

  <ion-item lines="none"k>
    Here you can deposite funds in your account
  </ion-item><br>

    <ion-row>
      <ion-col>
          <ion-label position="floating">Voucher Code</ion-label>
          <ion-input></ion-input>
      </ion-col>
      <ion-col>
        <ion-button size="small">Cash Voucher</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
